<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.easyui.min.js"></script>
    <script type="text/javascript" src="md5.js"></script>
    <script type="text/javascript" src="env-var.js"></script>
    <script type="text/javascript" src="common-util.js"></script>
    <script type="text/javascript" src="template-web.js"></script>
    <link type="text/css" rel="stylesheet" href="default/easyui.css"/>
    <link type="text/css" rel="stylesheet" href="icon.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<h2>装修材料管理后台</h2>
<div><a href="/page/material-group.html">分组管理</a>/分类管理</div>
<div id="category">

</div>

</body>
<script id="material" type="text/html">
    <div class="easyui-layout" style="width:1000px;min-height:600px;margin: auto">
        <div data-options="region:'north'" style="height:50px;">
            <div class="easyui-panel" style="padding:5px;">
                <a href="#" class="easyui-menubutton" date-options="plain:true" onclick="addMaterial({{id}})"><span class="fa fa-plus"></span>增加材料</a>
                <span style="margin-left: 20px;font-size: 20px"><b>{{name}}</b></span>
            </div>
        </div>
        <div data-options="region:'center'" id="materialParent">
        </div>
    </div>
</script>
<script id="materialList" type="text/html">

    {{each list}}

    <div style="display: -webkit-inline-flex;margin: 10px 20px 10px 20px">
        <div style="display: block">
            <div id="view_{{$value.id}}" onClick="editMaterial({{$value.id}})" data-options="" class="easyui-panel" title="{{$value.name}}" style="width:130px;height:130px;padding:10px;">
                <div style="cursor: pointer" onclick="uploadPicture({{$value}})">
                    {{if $value.urlVoList != null}}
                        {{each $value.urlVoList childValue childIndex}}
                            <div><img style="width: 75px;height: 75px" src="https://tupian-1314348862.cos.ap-chengdu.myqcloud.com/{{childValue != null ? childValue.fileName : ''}}"/></div>
                        {{/each}}
                    {{/if}}
                    {{if $value.urlVoList == null || $value.urlVoList.length ==0}}
                    <div style="width: 75px;height: 75px"></div>
                    {{/if}}
                </div>
            </div>
            <div id="edit_{{$value.id}}" class="edit_category" >
                <div class="easyui-panel" title="Upload File" style="width:400px;padding:30px 70px 50px 70px">
                    <div style="margin-bottom:20px">
                        <div>材料名字:</div>
                        <input id="category_edit_input_{{$value.id}}" value="{{$value.name}}" class="easyui-textbox" style="width:100%">
                    </div>
                    <div style="margin-bottom:20px">
                        <div>描述:</div>
                        <input id="category_edit_desc_input_{{$value.id}}" value="{{$value.description}}" class="easyui-textbox" style="width:100%">
                    </div>
                    <div style="margin-bottom:20px">
                        <div>价格:</div>
                        <input id="category_edit_price_input_{{$value.id}}" value="{{$value.price}}" class="easyui-textbox" style="width:100%">
                    </div>
                    <div style="margin-bottom:20px">
                        <div>长度:</div>
                        <input id="category_edit_length_input_{{$value.id}}" value="{{$value.length}}" class="easyui-textbox" style="width:60%">
                    </div>
                    <div style="margin-bottom:20px">
                        <div>宽度:</div>
                        <input id="category_edit_width_input_{{$value.id}}" value="{{$value.width}}" class="easyui-textbox" style="width:60%">
                    </div>
                    <div style="margin-bottom:20px">
                        <div>高度:</div>
                        <input id="category_edit_high_input_{{$value.id}}" value="{{$value.high}}" class="easyui-textbox" style="width:60%">
                    </div>
                </div>
            </div>
            <div id="edit_upload_{{$value.id}}" class="edit_category" >
                <div class="easyui-panel" title="Upload File" style="width:400px;padding:30px 70px 50px 70px">
                    {{each $value.urlVoList childValue childIndex}}
                        <div style="margin-bottom: 10px">
                            <div>
                                <img style="width: 75px;height: 75px" src="/img/{{childValue != null ? childValue.fileName : ''}}"/>
                            </div>
                            <div>
                                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cut'" onClick="deletePic({{childValue}})" style="width:100px">删除图片</a>
                            </div>
                        </div>
                    {{/each}}

                    <div style="margin-bottom:20px">
                        <div>图片:</div>
                        <input class="easyui-filebox" id="category_edit_file_{{$value.id}}" data-options="prompt:'选择上传...'" style="width:100%">
                    </div>
                </div>
            </div>
            <div style="display: block">
                <a href="#" id="category_edit_btn_{{$value.id}}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onClick="editCategory({{$value}})" style="width:70px">编辑</a>
                <!--<a href="#" id="category_edit_upload_btn_{{$value.id}}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onClick="editUpload({{$value}})" style="width:70px">上传</a>-->
                <a href="#" id="category_save_btn_{{$value.id}}" class="easyui-linkbutton" style="display: none" data-options="iconCls:'icon-save'" onClick="saveCategory({{$value}})">保存</a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cut'" onClick="deleteCategory({{$value}})" style="width:70px">删除</a>
                <a href="#" id="category_cancel_btn_{{$value.id}}" class="easyui-linkbutton" style="display: none" onClick="cancelCategory({{$value}})">取消编辑</a>
            </div>
        </div>

    </div>
    {{if ($index+1)%5 ==0 && $index >4}}
    <div style="display: block"></div>
        {{/if}}
    {{/each}}

</script>
<script type="text/javascript">
    $(function(){
        doRequest("/manage/query/queryCategory?id=" + getCategoryId(), null, (result) => {
            console.error(result)
            let data = {
                id: getCategoryId(),
                name: result.data.name
            };
            let html = template('material', data);
            document.getElementById('category').innerHTML = html;
            $.parser.parse($('#category'));
            doGetMaterialList();
        });
    })
    function addMaterial() {
        let categoryId = getCategoryId();
        let data = {
            name: "请输入材料名",
            categoryId: categoryId
        }
        doRequest("/manage/save/saveMaterial",data,(result) => {
            doGetMaterialList();
            default_success_notify("添加材料成功");
        })
    }
    function doGetMaterialList() {
        let categoryId = getCategoryId();
        doRequest("/manage/list/listMaterial?categoryId=" + categoryId,{},(result) => {
            let materialList = result.data;
            if (materialList != null) {
                rendPage(materialList);
            }
        })
    }
    function saveGroup(id) {
        let name = $("#group_name_" + id).val();
        let data = {
            id: id,
            name: name
        }
        doRequest("/manage/save/saveGroup",data,(result) => {
            default_success_notify();
            doGetGroupList();
        })
    }
    function deleteGroup(group) {
        $.messager.confirm('删除分组', '确定删除分组 <span style="color:red">' + group.name + '</span> ? 删除后无法恢复', function(r){
            if (r){
                doRequest("/manage/delete/deleteGroup?id=" + group.id,{},(result) => {
                    default_success_notify("删除分组成功!")
                    doGetGroupList();
                })
            }
        });
    }

    function deleteCategory(category) {
        $.messager.confirm('删除分类', '确定删除分类 <span style="color:red">' + category.name + '</span> ? 删除后无法恢复', function(r){
            if (r){
                doRequest("/manage/delete/deleteMaterial?id=" + category.id,{},(result) => {
                    default_success_notify("删除分类成功!")
                    doGetMaterialList();
                })
            }
        });
    }

    function editCategory(category) {
        $('#edit_' + category.id).show()
        $("#category_edit_btn_" + category.id).hide()
        $("#category_edit_upload_btn_" + category.id).hide()

        $('#view_' + category.id).hide()
        $("#category_save_btn_" + category.id).show()
        $("#category_cancel_btn_" + category.id).show()
    }

    function editUpload(category) {
        $('#edit_upload_' + category.id).show()
        $("#category_edit_btn_" + category.id).hide()
        $("#category_edit_upload_btn_" + category.id).hide()

        $('#view_' + category.id).hide()
        $("#category_save_btn_" + category.id).show()
        $("#category_cancel_btn_" + category.id).show()
    }

    function cancelCategory(category) {
        $('#edit_' + category.id).hide()
        $('#edit_upload_' + category.id).hide()
        $("#category_edit_btn_" + category.id).show()
        $("#category_edit_upload_btn_" + category.id).show()

        $('#view_' + category.id).show()
        $("#category_save_btn_" + category.id).hide()
        $("#category_cancel_btn_" + category.id).hide()
    }

    function saveCategory(category) {
        let name = $('#category_edit_input_' + category.id).val();
        let desc = $('#category_edit_desc_input_' + category.id).val();
        let length = $('#category_edit_length_input_' + category.id).val();
        let width = $('#category_edit_width_input_' + category.id).val();
        let high = $('#category_edit_high_input_' + category.id).val();
        let price = $('#category_edit_price_input_' + category.id).val();

        let data = {
            id: category.id,
            name: name,
            description: desc,
            length: length,
            width: width,
            high:high,
            price: price
        }
        doRequest('/manage/save/saveMaterial?' ,data, (result) => {
            default_success_notify("保存分类成功!");
            $('#edit_' + category.id).hide()
            $("#category_edit_btn_" + category.id).show()
            //$("#category_edit_upload_btn_" + category.id).show()

            $('#view_' + category.id).show()
            $("#category_save_btn_" + category.id).hide()
            $("#category_cancel_btn_" + category.id).hide()
            doGetMaterialList();
        });
    }

    function upload(category) {
        let name = $('#category_edit_input_' + category.id).val();
        let desc = $('#category_edit_desc_input_' + category.id).val();
        let length = $('#category_edit_length_input_' + category.id).val();
        let width = $('#category_edit_width_input_' + category.id).val();
        let high = $('#category_edithigh_input_' + category.id).val();
        let file = $('#edit_' + category.id).find('input[type=file]')[0].files[0];
        let data = new FormData();
        data.append('file', file);
        uploadFile('/manage/upload/uploadUrl?id='+ category.id + '&type=1&name=' + name + "&description=" + desc + "&length=" + length + "&width=" + width + "&high=" + high, data, (result) => {
            $('#edit_' + category.id).hide()
            $("#category_edit_btn_" + category.id).show()
            //$("#category_edit_upload_btn_" + category.id).show()

            $('#view_' + category.id).show()
            $("#category_save_btn_" + category.id).hide()
            $("#category_cancel_btn_" + category.id).hide()
            doGetMaterialList();
        });
    }

    //渲染页面
    function rendPage(materialList) {
        let data = {
            list: materialList
        };
        let html = template('materialList', data);
        document.getElementById('materialParent').innerHTML = html;
        $.parser.parse($('#materialParent'));
        $(".edit_category").hide();
    }

    function rendCategoryPage(categoryList, groupId) {
        let data = {
            list: categoryList
        };
        let html = template('categoryList', data);
        let id = 'categoryParent_'+groupId;
        document.getElementById(id).innerHTML = html;
        $.parser.parse($('#categoryParent_' + groupId));
        $(".edit_category").hide()
    }

    function getCategoryId() {
        return getParamValue('categoryId');
    }

    function deletePic(pic) {
        $.messager.confirm('删除图片', '确定删除图片? 删除后无法恢复', function(r){
            if (r){
                doRequest("/manage/delete/deleteUrl?id=" + pic.id,{},(result) => {
                    default_success_notify("删除图片!");
                    doGetMaterialList();
                })
            }
        });
    }

    function uploadPicture(material) {
        window.location.href = '/page/upload.html?type=1&id=' + material.id + '&categoryId=' + getParamValue("categoryId")
    }
</script>
<style>
    #addGroupBtn,.saveGroupBtn,.addCategoryBtn,.fa-plus{
        color: #3c8b3c;
    }
    .deleteGroup{
        color: #c62828;
    }
    #addGroupBtn:hover{
        color: #0E2D45;
        cursor: pointer;
    }
    .m-btn-downarrow{
        display: none;
    }
</style>
</html>
